body{
    background-color: #EAC926;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
}
h4{
    font-size: 16px;
}
h3{
    font-size: 24px;
}
h5{
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.fondo{
    background-color: #ebebeb;
}

ul{
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: black;
}

.centrar{
    text-align: center;
}

input{
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
}
.btn1{
    width: 19px;
    height: 19px;
    line-height: 19px;
    background: #ebebeb;
    border-color:#666;
    border-width: 0.3px;
    border-radius: 2px;
    border-style: solid;
    text-align: center;
    display: block;
}
.burger-menu{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    background-color: #1259c3;
    color: white;
    border-color: #1259c3;
    border-radius: 3px;
    margin: 0px 0px 0px 46.5%;
}
footer{
    background-color: white;
}
.iconos{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.sector{
    text-align: center;
    padding: 5px 30px;
}